<div class="topbar">
    <div class="logo">
        <a href="{{ path('app_main') }} "><img src=" {{ asset('asset/img/fixe/logo.png') }} " alt="" srcset="" width="200px"></a>
    </div>
    <div class="nav-item">
        <a href=" {{ path('app_main') }} ">Acceuil</a>
        <a href=" {{ path('app_property_index') }} ">Tous nos biens</a>
    </div>
</div>