<form method="post" action="{{ path('app_admin_options_delete', {'id': option.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir effectuer cette action?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
